@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Rock+Salt');

/****************************
  HEADER
****************************/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 1em;
  background: #1a2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #1a2980, #0058ab, #0081b9, #00a6ae, #00c898);  
  background: linear-gradient(to right top, #1a2980, #0058ab, #0081b9, #00a6ae, #00c898);
  color: white;
}

.welcome {
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}

.title {
  margin: 0;
  font-size: 2em;
  font-family: 'Rock Salt', sans-serif;
}

.slogan {
  margin-top: 0;
  font-size: 1.35em;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}

/****************************
  SEARCH/SORT BY DIV
****************************/

.searchAndSortBy {
  display: flex;
  justify-content: space-between;
}

/****************************
  SEARCH FORM
****************************/

form {
  display: flex;
  flex-direction: column;
  margin-left: 1.25em;
}

form label {
  font-family: 'Rock Salt', sans-serif;
  color: #0058ab;
}

.formMain {
  display: flex;
  margin-top: .25em;
}

.formMain input {
  padding: .75em;
  font-size: .75em;
  margin-right: .25em;
  width: 200px;
  border: 1px solid #B3D9FF;
  color: #0058ab;
}

.formMain input:focus {
  outline: none;
}

.formMain button {
  width: 60px;
  height: 40px;
  cursor: pointer;
  background-color: #0058ab;
  color: white;
}

.formMain button:hover {
  color: #0058ab;
  background-color: #B3D9FF;
}

/****************************
  SORT DROPDOWN
****************************/

.sortByDiv {
  margin-right: 1.25em;
}

.sortByDiv p {
  font-family: 'Rock Salt', sans-serif;
  color: #0058ab;
}

.sortDownArrow {
  color: #8e8e8e;
  cursor: pointer;
}

.sortDownArrow:hover {
  color: #0058ab;
}

.hideList {
  display: none;
}

.showList li {
  list-style: none;
  margin-bottom: .35em; 
}

.showList li:hover {
  cursor: pointer;
}

.currentFilter {
  font-weight: 600;
  color: #0058ab;
}

.notCurrentFilter {
  font-weight: 300;
  color: #8e8e8e;
}

/****************************
  VIDEO LIST
****************************/

.videoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoCard {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 365px;
  max-width: 705px;
  border: 1px solid #0058ab;
  box-shadow: 4px 4px #00c898;
  font-family: 'Roboto Condensed', sans-serif;
}

.cardLink {
  align-self: flex-end;
  margin: 1em 1em 0 0;
  text-decoration: none;
  color: #8e8e8e;
}

.cardLink:hover {
  color: #0058ab;
}

.watchSpan {
  margin-right: .5em;
}

.cardTitle {
  max-width: 320px
}

.thumbnail {
  margin-bottom: 1.25em;
}

.cardDescription {
  width: 75%;
  margin-bottom: 1.25em;
}

/****************************
  FOOTER BUTTONS
****************************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding-bottom: .5em;
  text-align: center;
}

footer p {
  margin: 1em;
  cursor: pointer;
}

.pageNumber {
  color: #0058ab;
}

.show {
  display: inline-block;
  color: #8e8e8e;
}

.show:hover {
  color: #0058ab;
}

.hide {
  color: white;
  pointer-events: none;
}

/****************************
  MEDIA QUERIES
****************************/

@media only screen and (max-width: 600px) {
  .searchAndSortBy {
    flex-direction: column;
  }

  .searchForm {
    margin: auto;
    align-items: center;
  }

  .formMain label {
    text-align: center;
  }

  .sortByDiv {
    padding-top: 1.5em;
    margin: auto;
  }
}