@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Rock+Salt');

.Theater {
  font-family: 'Roboto Condensed', sans-serif;
}

/****************************
  HEADER
****************************/

.theaterHeader {
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 1em;
  background: #1a2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #1a2980, #0058ab, #0081b9, #00a6ae, #00c898);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right top, #1a2980, #0058ab, #0081b9, #00a6ae, #00c898);
  color: white;
}

.logoLink {
  margin-left: 1.25em;
  text-decoration: none;
  font-family: 'Rock Salt', sans-serif;
  color: white;
}

.homeLink {
  margin-left: 1.25em;
  text-decoration: none;
  font-weight: 300;
  color: #c1c1c1;
}

.homeLink:hover {
  color: #0058ab;
}

/****************************
  PLAYER
****************************/

.playerContainer {
  margin: 2.5em 0 2em 0;
  text-align: center;
}

.playerContainer iframe {
  width: 720px;
  height: 480px;
}

/****************************
  VIDEO INFO
****************************/

.videoInfo {
  width: 720px;
  margin: auto;
  padding-bottom: 1.25em;
}

.videoInfo p {
  font-size: .9em;
}

.videoChannel {
  font-weight: bold;
  margin-bottom: .5em;
}

.videoDate {
  color: #888;
}

.videoDescription {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #d6d6d6;
}

/****************************
  COMMENTS
****************************/

.commentList {
  list-style: none;
  width: 600px;
  margin: auto;
  padding-bottom: 2.5em;
}

.comment {
  display: flex;
  border-top: 1px solid #d6d6d6;
}

.profilePicture {
  border-radius: 50%;
  align-self: start;
  margin-top: 1em;
}

.commentMain {
  display: flex;
  flex-direction: column;
}

.nameAndTimeAgo {
  display: flex;
}

.name {
  font-weight: bold;
}

.timeAgo {
  color: #888;
}

.nameAndTimeAgo {
  margin: 1em 0;
  font-size: .85em;
}

.name {
  margin: 0 .5em;
}

.commentText {
  margin: 0 0 1em .5em;
  font-size: .95em;
}

/****************************
  COMMENTS
****************************/

@media only screen and (max-width: 770px) {
  .playerContainer iframe {
    width: 480px;
    height: 360px;
  }

  .videoInfo {
    width: 480px;
  }

  .commentList {
    width: 400px;
  }
}

@media only screen and (max-width: 550px) {
  .logoLink {
    margin: auto;
  }

  .playerContainer iframe {
    width: 320px;
    height: 180px;
  }

  .videoInfo {
    width: 320px;
  }

  .commentList {
    width: 270px;
  }
}