.header {
  height: 120px;
  padding: 20px;
  margin-bottom: 1em;
  text-align: center;
  background-color: #222;
  color: white;
}

.title {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 1.25em;
  width: 15%;
}

.videoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoCard {
  border: 1px solid #d6d6d6;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}