@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Rock+Salt');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
}

p {
  margin: 0;
}